.general {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.title {
    margin-bottom: 0.2%;
    margin-left: 5%;
    margin-right: -5%;
    color: white;
    display: flex;
    flex-direction: row;
    font-size: 150%;
    align-items: center;
}

.ib {
    display: flex;
    flex-direction: flex;
    align-items: center;
    position: absolute; right: 100px;
}

.input {
    width: 500px;
    height: 40px;
    font-size: 200%;
    color: #222222;
    border-radius: 20px;
}

.input::placeholder {
    text-align: start;
    padding-left: 6px;
    color: #222222;
    font-size: x-large;
    border-radius: 20px;
}

.btn {
    margin-left: 50px;
    height: 40px;
    width: 100px;
    border-radius: 10px;
    background-color: #222222;
    color: rgba(245, 245, 245, 0.836);
    font-weight: bold;
    font-size: 95%;
}

.btn:hover {
    background-color: rgb(80, 80, 80);
    color: rgba(245, 245, 245, 0.836);
    transition: 0.2s;
}

.img {
    height: 80px;
    width: 80px;
    margin-right: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
}

@media screen and (max-width: 1400px) {
    .title {
        margin-bottom: 0;
        margin-top: 0;
        margin-left: 2%;
        color: white;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .txt {
        font-size: 30px;
        width: 120px;
    }

    .img {
        height: 50px;
        width: 50px;
        margin-right: 5px;
    }

    .ib {
        display: flex;
        flex-direction: flex;
        align-items: center;
        position: absolute; right: 50px;
    }

    .input {
        width: 400px;
        height: 40px;
        font-size: 200%;
        color: #222222;
        border-radius: 20px;
    }

    .input::placeholder {
        text-align: start;
        padding-left: 6px;
        color: #222222;
        font-size: x-large;
        border-radius: 20px;
    }

    .btn {
        margin-left: 25px;
        height: 30px;
        width: 75px;
        border-radius: 8px;
        background-color: #222222;
        color: rgba(245, 245, 245, 0.836);
        font-weight: bold;
        font-size: 60%;
    }

    .btn:hover {
        background-color: rgb(80, 80, 80);
        color: rgba(245, 245, 245, 0.836);
        transition: 0.2s;
    }
}

@media screen and (max-width: 800px) {
    .title {
        margin-bottom: 0;
        margin-top: 0;
        margin-left: 2%;
        color: white;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .txt {
        font-size: 25px;
        width: 90px;
    }

    .img {
        height: 48px;
        width: 48px;
        margin-right: 5px;
    }

    .ib {
        display: flex;
        flex-direction: flex;
        align-items: center;
        position: absolute; right: 25   px;
    }

    .input {
        width: 250px;
        height: 35px;
        font-size: 200%;
        color: #222222;
        border-radius: 20px;
    }

    .input::placeholder {
        text-align: start;
        padding-left: 6px;
        color: #222222;
        font-size: x-large;
        border-radius: 20px;
    }

    .btn {
        margin-left: 20px;
        height: 30px;
        width: 60px;
        border-radius: 8px;
        background-color: #222222;
        color: rgba(245, 245, 245, 0.836);
        font-weight: bold;
        font-size: 50%;
    }

    .btn:hover {
        background-color: rgb(80, 80, 80);
        color: rgba(245, 245, 245, 0.836);
        transition: 0.2s;
    }
}

@media screen and (max-width: 600px) {
    .title {
        margin-bottom: 0;
        margin-top: 0;
        margin-left: 1%;
        color: white;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .txt {
        font-size: 20px;
        width: 90px;
    }

    .img {
        height: 45px;
        width: 45px;
        margin-right: 0px;
    }

    .ib {
        margin-left: 5px;
    }

    .input {
        width: 200px;
        height: 30px;
        font-size: 200%;
        color: #222222;
        border-radius: 20px;
    }

    .input::placeholder {
        text-align: start;
        padding-left: 6px;
        color: #222222;
        font-size: x-large;
        border-radius: 20px;
    }

    .btn {
        margin-left: 20px;
        height: 25px;
        width: 75px;
        border-radius: 10px;
        background-color: #222222;
        color: rgba(245, 245, 245, 0.836);
        font-weight: bold;
    }

    .btn:hover {
        background-color: rgb(80, 80, 80);
        color: rgba(245, 245, 245, 0.836);
        transition: 0.2s;
    }
}

@media screen and (max-width: 500px) {
    .title {
        margin-bottom: 0;
        margin-top: 0;
        margin-left: 1%;
        color: white;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .txt {
        font-size: 15px;
        width: 60px;
    }

    .img {
        padding-top: 5px;
        height: 35px;
        width: 35px;
        margin-right: 0px;
    }

    .ib {
        margin-left: 30px;
    }

    .input {
        width: 150px;
        height: 25px;
        font-size: 200%;
        color: #222222;
        border-radius: 20px;
    }

    .input::placeholder {
        text-align: start;
        padding-left: 6px;
        color: #222222;
        font-size: x-large;
        border-radius: 20px;
    }

    .btn {
        margin-left: 10px;
        height: 20px;
        width: 50px;
        border-radius: 10px;
        background-color: rgb(255, 255, 255);
        color: black;
        font-size: 8px;
        font-weight: bold;
    }

    .btn:hover {
        background-color: rgb(80, 80, 80);
        color: rgba(245, 245, 245, 0.836);
        transition: 0.2s;
    }
}

@media screen and (max-width: 420px) {
    .title {
        margin-bottom: 0;
        margin-top: 0;
        margin-left: 1%;
        color: white;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .txt {
        font-size: 15px;
        width: 60px;
    }

    .img {
        height: 30px;
        width: 30px;
        margin-right: 0px;
    }

    .ib {
        margin-left: 10px;
    }

    .input {
        width: 150px;
        height: 20px;
        font-size: 200%;
        color: #222222;
        border-radius: 20px;
    }

    .input::placeholder {
        text-align: start;
        padding-left: 6px;
        color: #222222;
        font-size: x-large;
        border-radius: 20px;
    }

    .btn {
        margin-left: 10px;
        height: 20px;
        width: 50px;
        border-radius: 10px;
        background-color: #222222;
        color: rgba(245, 245, 245, 0.836);
        font-size: 8px;
        font-weight: bold;
    }

    .btn:hover {
        background-color: rgb(80, 80, 80);
        color: rgba(245, 245, 245, 0.836);
        transition: 0.2s;
    }
}